body{
    /* background-color: pink; */
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.container{
    flex: 1;
}

/* Navbar */

.navbar{
   height: 5rem;
   background-color: white;

}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;;
}

.nav-link{
    color: #222222 !important;
}


/* Footer */

.f-info-links a{
    text-decoration: none;
    color: #222222;

}
.f-info-links a:hover{
    text-decoration: underline;
    color: #222222;
}
.f-info-links,
.f-info-socials,
.f-info-brand{
   width: 100%; 
   vertical-align:middle;
   display: flex;
   align-items: center;
   justify-content: center;
}

.f-info-socials i{
    margin-right:1rem;
    font-size: 1.2rem;

}

.f-info{
    text-align: center;
    height: 8rem;
    background-color:#ebebeb ;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: space-evenly;
}

/* Cards  */
.listing-card{
    border: none !important;
    margin-bottom:2rem;
    
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    height: auto !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;

}
.card-text p {
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
    color: inherit;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}


/* New Page */
.add-btn{
    background-color: #fe424d !important; 
    border: none !important;

}

.add-btn{
    overlay: 0;
}

.add-btn:hover{
    /* overlay: 0.3;
    box-shadow: #222222; */

     transform: scale(1.08); /* Zoom in */
    box-shadow: 0 8px 16px #222222; /* Shadow effect */
    transition: all 0.3s ease-in-out; /* Smooth effect */
}

/* Edit page */
.edit-btn{
    background-color: #fe424d !important; 
    border: none !important;
}

.edit-btn{
    overlay: 0;
}

.edit-btn:hover{
    /* overlay: 0.3;
    box-shadow: #222222; */

     transform: scale(1.08); /* Zoom in */
    box-shadow: 0 8px 16px #222222; /* Shadow effect */
    transition: all 0.3s ease-in-out; /* Smooth effect */
}

/* Show Page */

.show-img{
 
    height: auto;
    width : 100%;
    object-fit: cover ;
    border-radius: 5px;
}

.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}



/* MAP*/

#map{
    height: 400px;
    width: 100%; 
}